<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Settings1.BDD" connectionString="Data Source=PARODILUCAS\SQLEXPRESS;Initial Catalog=proyecto_tallerII;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Settings1.BDD2" connectionString="Data Source=PARODILUCAS;Initial Catalog=proyecto_tallerII;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>